$li-background-color: #0b141e;
$breakpoint-1:650px;

.hamburger-menu{
    margin-left:20px;
    width:70px;
}

.navbar ul{
    margin-top:15px;
    padding-inline-start: 0px;
    display:none;

    li{
        list-style:none;
        padding:10px;
        padding-left:40px;
        background-color: #0b141e;
        border: 1px solid black;
        width: 90%;
        &:hover{
            background-color:lighten( $li-background-color, 20% )
        }
        a{
            color: #4CCB83;
            font-size: 20px;
            display:inline-block;
            width:100%;
        }
    }
}

@media (min-width:$breakpoint-1){
    .navbar {
        background-color:#0b141e;
        ul{
            display:flex !important;
            margin-top:0;
            justify-content: flex-end;
            li{
                border:none;
                background-color:transparent;
                width:200px;
                padding-left:10px;
                text-align:center;
            }
        }        
    }
    .hamburger-menu{
        display:none;
    }
}